body {
  margin: 20px;
  background-attachment: fixed;
  background-image: linear-gradient(pink,hotpink,fuchsia,magenta, darkmagenta);
  font-family: 'Lobster', cursive;
}

.active {
  color: red;
}

.navbar {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 30px;
  background-color: aquamarine;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px black;
}

table {
  margin: 10px;
  padding: 10px;
  background-color: azure;
}

th,
td {
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 22px;
}

h1 {
  text-shadow: 5px 5px 8px black;
  color: white; 
}
.addStudent {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  box-shadow: 5px 5px 8px black;
  font-family: 'Lobster', cursive;
}